  <h1>Please Log In</h1>

  <form action='/login' method="POST">

    Username: <input type="text" name="username"></input>
    Email: <input type="text" name="email"></input>
    Password: <input type="password" name="password"></input>
    <button id="submit" type="submit" >Submit</button></input>
  </form><br>

  If you don't have an account please visit <button><a href="/signup">Signup</a></button>

  <% if flash.has?(:message) %>
   <h3><%= flash[:message] %></h3>
   <%end%><br>
